In [8]:
# We want to retain some of the state data so that we can use it for visualizations later
import pandas as pd

In [10]:
nasa_df = pd.read_csv("../data/Cleaned/Master_NASA_1974_2024.csv")
emissions_df = pd.read_csv("../data/Cleaned/Master_Emissions.csv")
noaa_df = pd.read_csv("../Data/Cleaned/Master_NOAA_1975_2024.csv")


if 'YEAR' in noaa_df.columns:
    noaa_df.rename(columns={'YEAR': 'Year'}, inplace=True)

# Retain state-level data from NOAA
total_state_level_df = noaa_df[['Year', 'STATE', 'TOTAL_DAMAGE', 'TOTAL_DEATHS', 'TOTAL_INJURIES']]

# Aggregate NOAA data by state and year
state_level_agg = total_state_level_df.groupby(['Year', 'STATE'], as_index=False).sum()

# Merge with emissions and temperature datasets using 'Year'
state_level_dataset = (
    state_level_agg.merge(emissions_df, on='Year', how='left')
                  .merge(nasa_df, on='Year', how='left')
)

In [14]:
state_level_dataset

,Year,STATE,TOTAL_DAMAGE,TOTAL_DEATHS,TOTAL_INJURIES,Entity,Per_Capita_Emissions,NASA_Global_Temp_Anomaly_C,NASA_NHem_Temp_Anomaly_C,NASA_SHem_Temp_Anomaly_C,...,24S-24N,90S-24S,64N-90N,44N-64N,24N-44N,EQU-24N,24S-EQU,44S-24S,64S-44S,90S-64S
0,1975,ALABAMA,25000000.0,1.0,49.0,United States,25.533506,-0.01,-0.05,0.02,...,-0.24,0.16,0.1,0.39,-0.05,-0.31,-0.17,0.13,0.14,0.30
1,1975,ARKANSAS,25000000.0,7.0,51.0,United States,25.533506,-0.01,-0.05,0.02,...,-0.24,0.16,0.1,0.39,-0.05,-0.31,-0.17,0.13,0.14,0.30
2,1975,GEORGIA,275000000.0,5.0,202.0,United States,25.533506,-0.01,-0.05,0.02,...,-0.24,0.16,0.1,0.39,-0.05,-0.31,-0.17,0.13,0.14,0.30
3,1975,ILLINOIS,25000000.0,2.0,69.0,United States,25.533506,-0.01,-0.05,0.02,...,-0.24,0.16,0.1,0.39,-0.05,-0.31,-0.17,0.13,0.14,0.30
4,1975,MISSISSIPPI,25000000.0,4.0,200.0,United States,25.533506,-0.01,-0.05,0.02,...,-0.24,0.16,0.1,0.39,-0.05,-0.31,-0.17,0.13,0.14,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2024,TEXAS,402000000.0,32.0,80.0,NaN,NaN,1.28,1.66,0.91,...,1.19,0.74,2.9,1.96,1.65,1.23,1.15,0.87,0.54,0.71
924,2024,VIRGINIA,296300000.0,3.0,3.0,NaN,NaN,1.28,1.66,0.91,...,1.19,0.74,2.9,1.96,1.65,1.23,1.15,0.87,0.54,0.71
925,2024,WASHINGTON,508000000.0,0.0,0.0,NaN,NaN,1.28,1.66,0.91,...,1.19,0.74,2.9,1.96,1.65,1.23,1.15,0.87,0.54,0.71
926,2024,WISCONSIN,24800000.0,0.0,0.0,NaN,NaN,1.28,1.66,0.91,...,1.19,0.74,2.9,1.96,1.65,1.23,1.15,0.87,0.54,0.71
927,2024,WYOMING,25000000.0,0.0,0.0,NaN,NaN,1.28,1.66,0.91,...,1.19,0.74,2.9,1.96,1.65,1.23,1.15,0.87,0.54,0.71

In [16]:
state_level_dataset.to_csv('State_Level_Master.csv')